<div class="container h-100 d-flex">
  <div class="jumbotron animated fadeIn fast my-auto">
    <img src="assets/image/headLogo.png" alt="World of Warcraft" width="400"
         class="img-fluid mx-auto d-block mb-5 mt-5">
    <p class="text-center">
      Esta es una aplicación donde explicaremos cada una de las expansiones y los puntos que nosotros consideramos que fueron más importantes de cada una, y aunque no son necesarias para seguir jugando, son recomendadas para poder mantenerse junto a las otras personas dentro del juego en términos de niveles y objetos, así como poder entrar a otras zonas exclusivas.
    </p>
  </div>
</div>
